<div id="userErrors" class="alert alert-danger text-center" role="alert">
</div>

{0}

<div class="border border-success rounded main-sm container">
    <form method="POST" action="report.py" onsubmit="return errorVerifier()" enctype="multipart/form-data">
        <div class="text-center">
            <b>Lugar:</b>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Región:</label>
            <div class="col-sm-10">
                <select id="regiones" class="custom-select" name="region"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Comuna:</label>
            <div class="col-sm-10">
                <select id="comunas" class="custom-select" name="comuna"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sector:</label>
            <div class="col-sm-10">
                <input type="text" size="200" class="form-control" name="sector" maxlength="200">
            </div>
        </div>

        <hr class="my-4">
        <div class="text-center">
            <b>Datos de contacto:</b>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" size="100" class="form-control" name="nombre" required="required" maxlength="100">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-mail:</label>
            <div class="col-sm-10">
                <input type="text" size="100" class="form-control" placeholder="name@example.com" name="email"
                    required="required">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Celular:</label>
            <div class="col-sm-10">
                <input type="text" size="15" class="form-control" name="celular">
            </div>
        </div>

        <hr class="my-4">
        <div id="info-avistamiento">
            <div class="text-center">
                <b>Información avistamiento 1:</b>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Día hora:</label>
                <div class="col-sm-10">
                    <input type="text" size="20" class="form-control" name="dia-hora-avistamiento"
                        placeholder="aaaa-mm-dd hh:mm" required="required">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="tipo-avistamiento">
                        <option selected value="0">Seleccione el tipo del avistamiento</option>
                        <option value="no sé">No sé</option>
                        <option value="insecto">Insecto</option>
                        <option value="arácnido">Arácnido</option>
                        <option value="miriápodo">Miriápodo</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Estado:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="estado-avistamiento">
                        <option selected value="0">Seleccione un estado para el avistamiento</option>
                        <option value="no sé">No sé</option>
                        <option value="vivo">Vivo</option>
                        <option value="muerto">Muerto</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="image-buttons0">
                <label class="col-sm-2 col-form-label">Foto:</label>
                <div class="col-sm-6">
                    <input type="file" class="form-control-file" name="foto-avistamiento">
                    <input name="numfoto" type="hidden" value="0">
                </div>
                <div class="col-sm-4">
                    <button class="btn-success text-center" type="button" onclick="anotherFile(0)">
                        Agregar otra foto
                    </button>
                </div>
            </div>
            <hr class="my-4">
        </div>

        <button type="button" class="btn-lg btn-secondary btn-block text-center" onclick="anotherReport()">
            Informar otro avistamiento en este sector
        </button>
        <button type="button" class="btn-lg btn-success btn-block text-center" data-toggle="modal"
            data-target="#sendModal">
            Enviar información de avistamiento
        </button>

        <!-- Modal -->
        <div class="modal" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Enviar información de avistamiento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desea enviar esta información?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            No estoy seguro, quiero volver al formulario
                        </button>
                        <button type="submit" class="btn btn-success">
                            Sí, estoy total y absolutamente seguro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>