/* style.css */
body {
  margin: 0px 0px;
}

input:invalid {
  border: 2px dashed red;
}

input[type=submit] {
  background-color: #4CAF50;
  border: 1px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

table {
  width: 100%;
}
table, th, td {
  border: 1px solid;
}
th, td {
  padding: 5px;
}
th {
  font-weight: bold;
}
td {
  text-align: center;
}

div {
  padding: 5px 20px;
}

div.input{
  background-color: green;
  padding: 10px 8px;
}

input:valid {
  border: 2px solid black;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

#error {
	background-color: #f38d8d;
	display: none;
	font-size: 20px;
	left: 0;
	padding: 20px;
	text-align: center;
	top: 0;
	width: 100%;
}