.main {
    width: 80%;
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 25px;
    overflow-x: auto;
}

.h1 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
    text-align: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color:rgb(225, 243, 225); 
}
/* Main */

.main-jumbo{
    background-color:lightgreen;
}

/* Reportar */
#userErrors {
    display: none;
}

.main-sm {
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 25px;
}
/* Data */
.data-image-small {
    width: 320px;
    height: 240px;
}

.data-image-big {
    width: 800px;
    height: 600px;
    margin-left: 14.8%;
}

.modal-body {
    overflow-x: auto;
}

/* List */
.my-row:hover{
    background-color: lightgreen;
}

.my-pagination{
    margin-left: 40%; 
    margin-right: 40%;
}